.container{
  text-align: center;
  padding: auto;
  margin: auto;
  text-decoration: none;

}
.images{
  size-adjust: 500px;
  margin: auto;
  background-position: center;
  box-sizing: content-box;

}
.ft-1{
  background-color: blue;
  margin: auto;
  text-align: center;
}


   