.home .result-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #FFFFFF;
  position: absolute;
  left: -1px;
  top: 634px;
  display: flex;
  flex-direction: row;
  padding: 14.5px 10px 12px 6px;
  width: 330px;
  height: 154px;
  box-sizing: border-box;
}
.home .th-june-2024 {
  margin: 0 0.9px 25.5px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.home .line-4 {
  background: #000000;
  margin: 0 14px 1.6px 0;
  width: 125.9px;
  height: 0px;
}
.home .attendance {
  border-radius: 45px;
  background: #15733A;
  position: relative;
  margin-right: 0.9px;
  padding: 30px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.home .ellipse-8 {
  border-radius: 37.5px;
  background: #FFFFFF;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 75px;
  height: 75px;
}
.home .container {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.home .th-june-20241 {
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.home .frame-68 {
  border-radius: 5px;
  background: #15733A;
  display: flex;
  padding: 11px 6px 11px 5px;
  box-sizing: border-box;
}
.home .take-attendance {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}
.home .instructor-attendance {
  margin-bottom: 173px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .vector {
  margin: 2px 13px 0.5px 0;
  width: 25px;
  height: 17.5px;
}
.home .container-1 {
  position: absolute;
  left: -231px;
  top: -15px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23px;
  color: #000000;
}
.home {
  background: linear-gradient(180deg, #7AF5AB, #B5F8CF);
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  box-sizing: border-box;
}
.home .notifications {
  position: relative;
  margin: 0 0.5px 19px 0.5px;
  display: flex;
  width: 330px;
  box-sizing: border-box;
}
.home .top {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
  box-sizing: border-box;
}
.home .frame-6 {
  position: relative;
  display: flex;
  padding: 1px 9.2px 2px 8px;
  box-sizing: border-box;
}
.home .margin {
  position: relative;
  margin: 0 14.5px 14px 15px;
  display: flex;
  width: calc(100% - 29.5px);
  box-sizing: border-box;
}
.home .ellipse-2 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 30.5px;
  height: 30px;
}
.home .n {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #15733A;
}
.home .driving-school-name {
  margin: 1px 13.5px 2px 0;
  display: inline-block;
  width: 189px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  color: #1A1A1A;
}
.home .search-bar {
  border-radius: 15px;
  background: #FFFFFF;
  margin: 0 0.5px 24px 0;
  display: flex;
  flex-direction: row;
  padding: 5.6px 22.4px 11.1px 19.4px;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.home .search {
  margin: 6.4px 14.3px 1.9px 0;
  display: flex;
  width: 33.2px;
  height: 50px;
  box-sizing: border-box;
}
.home .vector-1 {
  width: 25px;
  height: 25px;
}
.home .microphone {
  margin: 4.2px 0 4.1px 0;
  display: flex;
  width: 34.3px;
  height: 50px;
  box-sizing: border-box;
}
.home .vector-2 {
  width: 17.2px;
  height: 25px;
}
.home .line-2 {
  background: #15733A;
  margin-right: 15.9px;
  height: 0px;
  flex-grow: 1;
  flex-basis: 1px;
}
.home .search-for-lisence-apply {
  margin: 7.9px 21.1px 2.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.home .db {
  border-radius: 15px;
  margin: 0 0.5px 21px 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.home .db-1 {
  border-radius: 10.2px;
  background: rgba(21, 115, 58, 0.4);
  display: flex;
  flex-direction: column;
  padding: 8.2px 10px 7.8px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .frame-7 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .new-ratings {
  margin-right: 10px;
  width: 98px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-3 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .frame-8 {
  border-radius: 6.8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .payments-received {
  margin-right: 10px;
  width: 146px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-4 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .frame-9 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .new-reviews {
  margin-right: 10px;
  width: 102px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-5 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .vector-6 {
  margin: 7px 0 0.5px 0;
  width: 25px;
  height: 12.5px;
}
.home .db-11 {
  border-radius: 10.2px;
  background: rgba(21, 115, 58, 0.4);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  padding: 8.2px 10px 7.8px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .frame-71 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .courses-full {
  margin-right: 10px;
  width: 97px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-7 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .frame-91 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .courses-partially-full {
  margin-right: 10px;
  width: 158px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-8 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .frame-81 {
  border-radius: 6.8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .courses-empty {
  margin-right: 10px;
  width: 117px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-9 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .db-12 {
  border-radius: 10.2px;
  background: rgba(21, 115, 58, 0.4);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  padding: 8.2px 10px 7.8px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .frame-72 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .new-enquiries {
  margin-right: 10px;
  width: 109px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-10 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .frame-92 {
  border-radius: 6.8px;
  background: #FFFFFF;
  margin-bottom: 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .new-applications {
  margin-right: 10px;
  width: 133px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-11 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .vector-12 {
  margin-right: 12.9px;
  width: 23.1px;
  height: 20px;
}
.home .frame-82 {
  border-radius: 6.8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.8px 14px 10px 10.2px;
  width: 100%;
  box-sizing: border-box;
}
.home .new-registrations {
  margin-right: 10px;
  width: 138px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .vector-13 {
  margin: 6.1px 0 3.2px 0;
  width: 6.9px;
  height: 10.7px;
}
.home .container {
  position: relative;
  margin: 0 16.5px 0 18px;
  display: flex;
  width: calc(100% - 34.5px);
  box-sizing: border-box;
}
.home .text-1 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-11 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-12 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-13 {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .registrations-past-6-months {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.home .frame-10 {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  padding: 1px 33px 10px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .frame-11 {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  padding: 1px 33px 10px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .area-wise-registrations-this-month {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.home .g-1 {
  border-radius: 15px;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.home .line-3 {
  background: #000000;
  margin-right: 15px;
  height: 0px;
  flex-grow: 1;
  flex-basis: 2px;
}
.home .line-41 {
  background: #000000;
  margin-bottom: 3px;
  width: 280px;
  height: 0px;
}
.home .rectangle-13 {
  background: #15733A;
  margin: 45px 17px 5px 0;
  height: 100px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-14 {
  background: #15733A;
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-15 {
  background: rgba(21, 115, 58, 0.4);
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-16 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-17 {
  background: #15733A;
  margin: 24px 0 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-18 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .text-14 {
  margin-right: 12.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-15 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-16 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-17 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-18 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-19 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-110 {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .frame-12 {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  padding: 1px 33px 10px 10px;
  width: 100%;
  box-sizing: border-box;
}
.home .course-wise-registrations-this-month {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.home .g-11 {
  border-radius: 15px;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.home .line-31 {
  background: #000000;
  margin-right: 15px;
  height: 0px;
  flex-grow: 1;
  flex-basis: 2px;
}
.home .line-42 {
  background: #000000;
  margin-bottom: 3px;
  width: 280px;
  height: 0px;
}
.home .rectangle-131 {
  background: #15733A;
  margin: 45px 17px 5px 0;
  height: 100px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-141 {
  background: #15733A;
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-151 {
  background: rgba(21, 115, 58, 0.4);
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-161 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-171 {
  background: #15733A;
  margin: 24px 0 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-181 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .text-111 {
  margin-right: 12.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-112 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-113 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-114 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-115 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-116 {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-117 {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .bottom {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  width: 100%;
  box-sizing: border-box;
}
.home .menu {
  margin: 0 0 8.7px 7.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  box-sizing: border-box;
}
.home .vector-14 {
  margin: 2.2px 0 2.7px 0;
  width: 30px;
  height: 22.4px;
}
.home .nav {
  border: 1px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}
.home .vector-15 {
  margin: 4px 0 3.4px 0;
  width: 21.9px;
  height: 17.6px;
}
.home .circle {
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.home .ellipse-10 {
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
}
.home .vector-16 {
  margin: 2px 0 2.8px 0;
  width: 14.2px;
  height: 20.2px;
}
.home .vector-17 {
  margin: 3px 0 0.3px 0;
  width: 30px;
  height: 24px;
}
.home .vector-18 {
  width: 20.5px;
  height: 27.3px;
}
.home .vector-19 {
  margin: 3px 0 2.4px 0;
  width: 15.6px;
  height: 21.9px;
}
.home .graphs {
  margin-right: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.home .g-12 {
  border-radius: 15px;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 7px);
  box-sizing: border-box;
}
.home .line-32 {
  background: #000000;
  margin-right: 15px;
  height: 0px;
  flex-grow: 1;
  flex-basis: 2px;
}
.home .line-43 {
  background: #000000;
  margin-bottom: 3px;
  width: 280px;
  height: 0px;
}
.home .rectangle-132 {
  background: #15733A;
  margin: 45px 17px 5px 0;
  height: 100px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-142 {
  background: #15733A;
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-152 {
  background: rgba(21, 115, 58, 0.4);
  margin: 24px 17px 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-162 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-172 {
  background: #15733A;
  margin: 24px 0 5px 0;
  height: 121px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .rectangle-182 {
  background: rgba(21, 115, 58, 0.4);
  margin: 65px 17px 5px 0;
  height: 80px;
  flex-grow: 1;
  flex-basis: 27px;
}
.home .text-118 {
  margin-right: 12.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-119 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .text-120 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13.6px;
  color: #000000;
}
.home .container-1 {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 16px);
  box-sizing: border-box;
}
.home .container-2 {
  position: relative;
  margin: 0 16.5px 0 18px;
  display: flex;
  width: calc(100% - 34.5px);
  box-sizing: border-box;
}
.home .container-3 {
  margin: 0.5px 16.1px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 142.9px;
  box-sizing: border-box;
}
.home .container-4 {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 16px);
  box-sizing: border-box;
}
.home .container-5 {
  position: relative;
  margin: 0 16.5px 0 18px;
  display: flex;
  width: calc(100% - 34.5px);
  box-sizing: border-box;
}
.home .container-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 99px;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-7 {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 16px);
  box-sizing: border-box;
}
.home .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-9 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .container-12 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}